<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>donghua_000000</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{97,160}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,163}</string>
      </dict>
      <key>donghua_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{97,160}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,163}</string>
      </dict>
      <key>donghua_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{97,160}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,163}</string>
      </dict>
      <key>donghua_000003</key>
      <dict>
        <key>frame</key>
        <string>{{192,160},{95,165}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,163}</string>
      </dict>
      <key>donghua_000004</key>
      <dict>
        <key>frame</key>
        <string>{{287,0},{95,165}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,163}</string>
      </dict>
      <key>donghua_000005</key>
      <dict>
        <key>frame</key>
        <string>{{97,160},{95,165}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,163}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>donghua.png</string>
      <key>size</key>
      <string>{398,466}</string>
      <key>textureFileName</key>
      <string>donghua.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>zhanglang</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
    </dict>
  </dict>
</plist>