<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameMove_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,802}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,800}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>GameMove.png</string>
      <key>size</key>
      <string>{482,802}</string>
      <key>textureFileName</key>
      <string>GameMove.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset-6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>baozha</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>GameMove/baozha.png</string>
      </dict>
      <key>q1</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>GameMove/q1.png</string>
      </dict>
      <key>q2</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>GameMove/q2.png</string>
      </dict>
      <key>q3</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>GameMove/q3.png</string>
      </dict>
      <key>time</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>GameMove/time.png</string>
      </dict>
      <key>xie</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>GameMove/xie.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>GameMove</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,643.15,809.00</string>
        <key>anchorX</key>
        <real>0.01197</real>
        <key>anchorY</key>
        <real>0.01051</real>
        <key>children</key>
        <dict>
          <key>i670</key>
          <dict>
            <key>class</key>
            <string>xie</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>511.15,327.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i666</key>
          <dict>
            <key>class</key>
            <string>asset-6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>8.15,809.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i668</key>
          <dict>
            <key>class</key>
            <string>baozha</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>492.15,483.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>