<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameBegin_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{236,152}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{234,150}</string>
      </dict>
      <key>GameBegin_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,802}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,800}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>GameBegin.png</string>
      <key>size</key>
      <string>{582,1002}</string>
      <key>textureFileName</key>
      <string>GameBegin.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>Beginbutt</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>GameBegin</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,480.00,800.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50056</real>
        <key>children</key>
        <dict>
          <key>i1669</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>Beginbutt</key>
          <dict>
            <key>class</key>
            <string>Beginbutt</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>123.00,198.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>