<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>donghua_000000</key>
      <dict>
        <key>frame</key>
        <string>{{446,408},{95,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000001</key>
      <dict>
        <key>frame</key>
        <string>{{445,557},{96,97}}</string>
        <key>offset</key>
        <string>{-0.50,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000002</key>
      <dict>
        <key>frame</key>
        <string>{{445,0},{98,98}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000003</key>
      <dict>
        <key>frame</key>
        <string>{{444,104},{99,99}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000004</key>
      <dict>
        <key>frame</key>
        <string>{{444,308},{100,100}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000005</key>
      <dict>
        <key>frame</key>
        <string>{{443,207},{101,101}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000006</key>
      <dict>
        <key>frame</key>
        <string>{{341,207},{102,102}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000007</key>
      <dict>
        <key>frame</key>
        <string>{{341,104},{103,103}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000008</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{104,104}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000009</key>
      <dict>
        <key>frame</key>
        <string>{{341,557},{104,105}}</string>
        <key>offset</key>
        <string>{-0.50,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000010</key>
      <dict>
        <key>frame</key>
        <string>{{339,346},{105,105}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000011</key>
      <dict>
        <key>frame</key>
        <string>{{341,451},{105,106}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000012</key>
      <dict>
        <key>frame</key>
        <string>{{235,110},{106,106}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000013</key>
      <dict>
        <key>frame</key>
        <string>{{235,564},{106,107}}</string>
        <key>offset</key>
        <string>{-0.50,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000014</key>
      <dict>
        <key>frame</key>
        <string>{{232,350},{107,107}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000015</key>
      <dict>
        <key>frame</key>
        <string>{{234,457},{107,107}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000016</key>
      <dict>
        <key>frame</key>
        <string>{{234,238},{107,108}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000017</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{109,110}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000018</key>
      <dict>
        <key>frame</key>
        <string>{{121,350},{111,110}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000019</key>
      <dict>
        <key>frame</key>
        <string>{{121,238},{113,112}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000020</key>
      <dict>
        <key>frame</key>
        <string>{{121,124},{114,114}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000021</key>
      <dict>
        <key>frame</key>
        <string>{{119,488},{115,116}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000022</key>
      <dict>
        <key>frame</key>
        <string>{{118,606},{117,118}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000023</key>
      <dict>
        <key>frame</key>
        <string>{{0,488},{119,118}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000024</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{121,120}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000025</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{121,122}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000026</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{123,124}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000027</key>
      <dict>
        <key>frame</key>
        <string>{{0,366},{121,122}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000028</key>
      <dict>
        <key>frame</key>
        <string>{{0,606},{118,118}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000029</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{109,108}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000030</key>
      <dict>
        <key>frame</key>
        <string>{{541,621},{85,89}}</string>
        <key>offset</key>
        <string>{0.00,-1.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000031</key>
      <dict>
        <key>frame</key>
        <string>{{543,0},{71,76}}</string>
        <key>offset</key>
        <string>{-2.00,-2.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>donghua_000032</key>
      <dict>
        <key>frame</key>
        <string>{{445,654},{39,63}}</string>
        <key>offset</key>
        <string>{0.00,1.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{37,63}</string>
      </dict>
      <key>donghua_000033</key>
      <dict>
        <key>frame</key>
        <string>{{341,662},{35,61}}</string>
        <key>offset</key>
        <string>{0.00,-2.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{37,63}</string>
      </dict>
      <key>donghua_000034</key>
      <dict>
        <key>frame</key>
        <string>{{541,522},{86,99}}</string>
        <key>offset</key>
        <string>{0.00,7.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{84,112}</string>
      </dict>
      <key>donghua_000035</key>
      <dict>
        <key>frame</key>
        <string>{{541,408},{86,114}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{84,112}</string>
      </dict>
      <key>donghua_000036</key>
      <dict>
        <key>frame</key>
        <string>{{235,671},{40,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>donghua_000037</key>
      <dict>
        <key>frame</key>
        <string>{{376,662},{13,40}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>donghua_000038</key>
      <dict>
        <key>frame</key>
        <string>{{275,671},{39,40}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>donghua_000039</key>
      <dict>
        <key>frame</key>
        <string>{{314,671},{22,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>donghua.png</string>
      <key>size</key>
      <string>{724,724}</string>
      <key>textureFileName</key>
      <string>donghua.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>baozha</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.85496</real>
        <key>anchorY</key>
        <real>1.36475</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>31</integer>
      </dict>
      <key>enemyweiyi</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.64865</real>
        <key>anchorY</key>
        <real>1.37302</real>
        <key>start</key>
        <integer>32</integer>
        <key>end</key>
        <integer>33</integer>
      </dict>
      <key>heroweiyi</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.66667</real>
        <key>anchorY</key>
        <real>0.17009</real>
        <key>start</key>
        <integer>34</integer>
        <key>end</key>
        <integer>35</integer>
      </dict>
      <key>jinbi</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>2.23684</real>
        <key>anchorY</key>
        <real>0.81579</real>
        <key>start</key>
        <integer>36</integer>
        <key>end</key>
        <integer>39</integer>
      </dict>
    </dict>
  </dict>
</plist>