<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>playSceneMc_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{498,140}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{496,138}</string>
      </dict>
      <key>playSceneMc_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{28,28}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{26,26}</string>
      </dict>
      <key>playSceneMc_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{60,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{58,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>playSceneMc.png</string>
      <key>size</key>
      <string>{498,240}</string>
      <key>textureFileName</key>
      <string>playSceneMc.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,496.00,138.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>kuai7</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>205.00,68.00,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>kuai4</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>111.00,56.00,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>kuai1</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>16.95,33.95,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>kuai3</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>81.00,49.95,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>kuai14</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>441.05,45.95,0.00,1.00000,1.00000,1.00,14,0.00,0.00</string>
          </dict>
          <key>kongMc</key>
          <dict>
            <key>class</key>
            <string>kongMc</string>
            <key>zIndex</key>
            <integer>16</integer>
            <key>frames</key>
            <string>248.00,69.00,0.00,1.00000,1.00000,1.00,16,0.00,0.00</string>
          </dict>
          <key>kuai2</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>48.95,43.95,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>kuai13</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>409.05,51.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i7216</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>15</integer>
            <key>frames</key>
            <string>0.00,138.00,0.00,1.00000,1.00000,1.00,15,0.00,0.00</string>
          </dict>
          <key>kuai6</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>173.00,64.00,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>kuai12</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>377.05,55.95,0.00,1.00000,1.00000,1.00,12,0.00,0.00</string>
          </dict>
          <key>kuai9</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>277.05,64.00,0.00,1.00000,1.00000,1.00,13,0.00,0.00</string>
          </dict>
          <key>kuai5</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>141.00,60.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>kuai10</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>311.05,62.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>kuai11</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>345.05,59.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>kuai15</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>477.05,35.95,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>kuai8</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>245.00,66.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>kongMc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,496.00,138.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>playSceneMc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,496.00,1027.50</string>
        <key>anchorX</key>
        <real>0.03226</real>
        <key>anchorY</key>
        <real>0.00827</real>
        <key>children</key>
        <dict>
          <key>qiao1</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>248.00,78.50,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>qiao3</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>248.00,518.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>qiao4</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>248.00,738.50,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>fenLayer</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>216.00,798.50,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>qiao5</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>248.00,958.50,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>qiao2</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>248.00,298.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>