<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>offBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,895},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>wudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,947},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>wudi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{141,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,119}}</string>
                <key>sourceSize</key>
                <string>{141,119}</string>
            </dict>
            <key>yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{116,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,804},{89,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,54}}</string>
                <key>sourceSize</key>
                <string>{89,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2f84b945c0fd264b3c0693b1f24ba23:1/1$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
