<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="./css/nono.css">
	<style type="text/css">
		body{
			background-color: #887753;
		}
	</style>
</head>
<body class="center">
	<div class="login">
		<span class="title">login</span>
		<div class="login-item">
			<img src="./res/i-user.png">
			<input type="input" name="" placeholder="请输入手机号">
		</div>
		<div class="login-item">
			<img src="./res/i-lock.png">
			<input type="password" name="">
		</div>
		<div class="login-item login-item-noborder">
			<div class="login-btn">
				<span>注册</span>
			</div>
			<div class="login-btn">
				<span>登录</span>
			</div>
		</div>
	</div>
</body>
</html>