<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>game_000000</key>
      <dict>
        <key>frame</key>
        <string>{{482,398},{122,122}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>game_000001</key>
      <dict>
        <key>frame</key>
        <string>{{482,276},{122,122}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>game_000002</key>
      <dict>
        <key>frame</key>
        <string>{{704,904},{74,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{72,95}</string>
      </dict>
      <key>game_000003</key>
      <dict>
        <key>frame</key>
        <string>{{685,0},{75,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{73,95}</string>
      </dict>
      <key>game_000004</key>
      <dict>
        <key>frame</key>
        <string>{{703,448},{74,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{72,95}</string>
      </dict>
      <key>game_000005</key>
      <dict>
        <key>frame</key>
        <string>{{610,0},{75,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{73,95}</string>
      </dict>
      <key>game_000006</key>
      <dict>
        <key>frame</key>
        <string>{{703,545},{74,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{72,90}</string>
      </dict>
      <key>game_000007</key>
      <dict>
        <key>frame</key>
        <string>{{697,193},{74,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{72,94}</string>
      </dict>
      <key>game_000008</key>
      <dict>
        <key>frame</key>
        <string>{{699,686},{74,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{72,94}</string>
      </dict>
      <key>game_000009</key>
      <dict>
        <key>frame</key>
        <string>{{698,808},{74,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{72,94}</string>
      </dict>
      <key>game_000010</key>
      <dict>
        <key>frame</key>
        <string>{{697,97},{74,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{72,94}</string>
      </dict>
      <key>game_000011</key>
      <dict>
        <key>frame</key>
        <string>{{692,356},{74,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{72,90}</string>
      </dict>
      <key>game_000012</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{128,124}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{126,122}</string>
      </dict>
      <key>game_000013</key>
      <dict>
        <key>frame</key>
        <string>{{597,520},{106,166}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{104,164}</string>
      </dict>
      <key>game_000014</key>
      <dict>
        <key>frame</key>
        <string>{{473,954},{156,136}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{154,134}</string>
      </dict>
      <key>game_000015</key>
      <dict>
        <key>frame</key>
        <string>{{629,927},{75,135}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{73,133}</string>
      </dict>
      <key>game_000016</key>
      <dict>
        <key>frame</key>
        <string>{{482,520},{115,209}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{113,207}</string>
      </dict>
      <key>game_000017</key>
      <dict>
        <key>frame</key>
        <string>{{604,808},{94,119}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{92,117}</string>
      </dict>
      <key>game_000018</key>
      <dict>
        <key>frame</key>
        <string>{{604,686},{95,122}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{93,120}</string>
      </dict>
      <key>game_000019</key>
      <dict>
        <key>frame</key>
        <string>{{242,954},{231,84}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{229,82}</string>
      </dict>
      <key>game_000020</key>
      <dict>
        <key>frame</key>
        <string>{{0,954},{242,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{240,63}</string>
      </dict>
      <key>game_000021</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{362,152}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{360,150}</string>
      </dict>
      <key>game_000022</key>
      <dict>
        <key>frame</key>
        <string>{{362,802},{242,152}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{240,150}</string>
      </dict>
      <key>game_000023</key>
      <dict>
        <key>frame</key>
        <string>{{482,124},{122,152}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{120,150}</string>
      </dict>
      <key>game_000024</key>
      <dict>
        <key>frame</key>
        <string>{{0,1038},{116,27}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{114,25}</string>
      </dict>
      <key>game_000025</key>
      <dict>
        <key>frame</key>
        <string>{{116,1019},{48,55}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,53}</string>
      </dict>
      <key>game_000026</key>
      <dict>
        <key>frame</key>
        <string>{{604,356},{88,102}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,100}</string>
      </dict>
      <key>game_000027</key>
      <dict>
        <key>frame</key>
        <string>{{604,124},{93,115}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{91,113}</string>
      </dict>
      <key>game_000028</key>
      <dict>
        <key>frame</key>
        <string>{{604,239},{93,117}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{91,115}</string>
      </dict>
      <key>game_000029</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,802}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,800}</string>
      </dict>
      <key>game_000030</key>
      <dict>
        <key>frame</key>
        <string>{{0,1065},{25,21}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{23,19}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>game.png</string>
      <key>size</key>
      <string>{782,1102}</string>
      <key>textureFileName</key>
      <string>game.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>but1</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>but2</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02778</real>
        <key>anchorY</key>
        <real>1.05263</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02740</real>
        <key>anchorY</key>
        <real>1.06316</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02778</real>
        <key>anchorY</key>
        <real>1.05263</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02740</real>
        <key>anchorY</key>
        <real>1.06316</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02778</real>
        <key>anchorY</key>
        <real>1.05556</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04167</real>
        <key>anchorY</key>
        <real>1.05319</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04167</real>
        <key>anchorY</key>
        <real>1.06383</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04167</real>
        <key>anchorY</key>
        <real>1.05319</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04167</real>
        <key>anchorY</key>
        <real>1.05319</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04167</real>
        <key>anchorY</key>
        <real>1.05556</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>asset20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>asset21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>asset22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>asset23</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>asset24</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>asset25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>asset26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>asset27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>asset28</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>asset43</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>asset45</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>asset47</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
      <key>asset52</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>24</integer>
        <key>end</key>
        <integer>24</integer>
      </dict>
      <key>asset53</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.54348</real>
        <key>anchorY</key>
        <real>1.54717</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
      <key>asset54</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02326</real>
        <key>anchorY</key>
        <real>1.06000</real>
        <key>start</key>
        <integer>26</integer>
        <key>end</key>
        <integer>26</integer>
      </dict>
      <key>asset55</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>27</integer>
        <key>end</key>
        <integer>27</integer>
      </dict>
      <key>asset56</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>28</integer>
        <key>end</key>
        <integer>28</integer>
      </dict>
      <key>asset8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.37927</real>
        <key>anchorY</key>
        <real>0.96256</real>
        <key>start</key>
        <integer>29</integer>
        <key>end</key>
        <integer>29</integer>
      </dict>
      <key>asset9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>2.17391</real>
        <key>anchorY</key>
        <real>0.51053</real>
        <key>start</key>
        <integer>30</integer>
        <key>end</key>
        <integer>30</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>bg1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,369.65,162.50</string>
        <key>anchorX</key>
        <real>0.02083</real>
        <key>anchorY</key>
        <real>0.05231</real>
        <key>children</key>
        <dict>
          <key>i40181</key>
          <dict>
            <key>class</key>
            <string>asset43</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>9.65,162.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>bg2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,248.65,162.50</string>
        <key>anchorX</key>
        <real>0.03097</real>
        <key>anchorY</key>
        <real>0.05231</real>
        <key>children</key>
        <dict>
          <key>i40208</key>
          <dict>
            <key>class</key>
            <string>asset45</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>8.65,162.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>bg3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,128.70,161.50</string>
        <key>anchorX</key>
        <real>0.05983</real>
        <key>anchorY</key>
        <real>0.05263</real>
        <key>children</key>
        <dict>
          <key>i40235</key>
          <dict>
            <key>class</key>
            <string>asset47</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>8.70,161.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>boom</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>5</integer>
        <key>rect</key>
        <string>0,0,91.00,115.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i40638</key>
          <dict>
            <key>class</key>
            <string>asset55</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,115.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i40262</key>
          <dict>
            <key>class</key>
            <string>asset53</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,115.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i40636</key>
          <dict>
            <key>class</key>
            <string>asset54</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,115.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i40640</key>
          <dict>
            <key>class</key>
            <string>asset56</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,115.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>cloud1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,229.00,82.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i40288</key>
          <dict>
            <key>class</key>
            <string>asset27</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,82.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>cloud2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,240.00,63.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i40314</key>
          <dict>
            <key>class</key>
            <string>asset28</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,63.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>coin1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,136.70,148.50</string>
        <key>anchorX</key>
        <real>0.05633</real>
        <key>anchorY</key>
        <real>0.94276</real>
        <key>children</key>
        <dict>
          <key>i40340</key>
          <dict>
            <key>class</key>
            <string>asset20</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>10.70,122.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>coin2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,189.50,189.50</string>
        <key>anchorX</key>
        <real>0.22559</real>
        <key>anchorY</key>
        <real>0.93245</real>
        <key>children</key>
        <dict>
          <key>i40367</key>
          <dict>
            <key>class</key>
            <string>asset21</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,115.95,-45.00,0.99998,0.99998,1.00,0,-45.00,-45.00</string>
          </dict>
        </dict>
      </dict>
      <key>coin3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,154.00,134.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i40393</key>
          <dict>
            <key>class</key>
            <string>asset22</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,134.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>coin4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,81.70,157.50</string>
        <key>anchorX</key>
        <real>0.09425</real>
        <key>anchorY</key>
        <real>0.94603</real>
        <key>children</key>
        <dict>
          <key>i40419</key>
          <dict>
            <key>class</key>
            <string>asset23</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>8.70,133.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>coin5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,226.25,226.25</string>
        <key>anchorX</key>
        <real>0.25039</real>
        <key>anchorY</key>
        <real>0.95735</real>
        <key>children</key>
        <dict>
          <key>i40446</key>
          <dict>
            <key>class</key>
            <string>asset24</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,146.35,-45.00,0.99998,0.99998,1.00,0,-45.00,-45.00</string>
          </dict>
        </dict>
      </dict>
      <key>coin6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,100.70,141.50</string>
        <key>anchorX</key>
        <real>0.07646</real>
        <key>anchorY</key>
        <real>0.93993</real>
        <key>children</key>
        <dict>
          <key>i40472</key>
          <dict>
            <key>class</key>
            <string>asset25</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>8.70,117.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>coin7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,101.70,148.50</string>
        <key>anchorX</key>
        <real>0.07571</real>
        <key>anchorY</key>
        <real>0.94276</real>
        <key>children</key>
        <dict>
          <key>i40499</key>
          <dict>
            <key>class</key>
            <string>asset26</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>8.70,120.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>dog1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>5</integer>
        <key>rect</key>
        <string>0,0,77.00,104.00</string>
        <key>anchorX</key>
        <real>0.57143</real>
        <key>anchorY</key>
        <real>0.13942</real>
        <key>children</key>
        <dict>
          <key>i40648</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||0.00,104.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i40642</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,104.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i40646</key>
          <dict>
            <key>class</key>
            <string>asset13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,104.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i40644</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,104.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i40526</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,104.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
        </dict>
      </dict>
      <key>dog2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>5</integer>
        <key>rect</key>
        <string>0,0,133.00,104.00</string>
        <key>anchorX</key>
        <real>0.32368</real>
        <key>anchorY</key>
        <real>0.12981</real>
        <key>children</key>
        <dict>
          <key>i40552</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,104.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i40657</key>
          <dict>
            <key>class</key>
            <string>asset19</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||0.00,104.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i40651</key>
          <dict>
            <key>class</key>
            <string>asset16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,104.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i40655</key>
          <dict>
            <key>class</key>
            <string>asset18</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,104.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i40653</key>
          <dict>
            <key>class</key>
            <string>asset17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,104.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
        </dict>
      </dict>
      <key>playSymbol</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,488.75,811.70</string>
        <key>anchorX</key>
        <real>0.01575</real>
        <key>anchorY</key>
        <real>0.01047</real>
        <key>children</key>
        <dict>
          <key>i40578</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>-173.30,781.75,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i40581</key>
          <dict>
            <key>class</key>
            <string>asset9</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>497.70,777.10,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>zhang1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,78.70,24.00</string>
        <key>anchorX</key>
        <real>0.09784</real>
        <key>anchorY</key>
        <real>0.35417</real>
        <key>children</key>
        <dict>
          <key>i40607</key>
          <dict>
            <key>class</key>
            <string>asset52</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>43.70,16.50,0.00,0.61403,0.60001,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>