<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>start_000000</key>
      <dict>
        <key>frame</key>
        <string>{{468,803},{250,99}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{248,97}</string>
      </dict>
      <key>start_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,803}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,801}</string>
      </dict>
      <key>start_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,803},{468,239}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{466,237}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>start.png</string>
      <key>size</key>
      <string>{782,1104}</string>
      <key>textureFileName</key>
      <string>start.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50383</real>
        <key>anchorY</key>
        <real>0.52577</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>startSymbol</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,489.70,811.45</string>
        <key>anchorX</key>
        <real>0.01572</real>
        <key>anchorY</key>
        <real>0.01048</real>
        <key>children</key>
        <dict>
          <key>startBut</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>270.65,150.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i66980</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>9.70,811.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>updown</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>17.70,754.45,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>