<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dieMc_000000</key>
      <dict>
        <key>frame</key>
        <string>{{108,103},{108,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{106,101}</string>
      </dict>
      <key>dieMc_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,103},{108,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{106,101}</string>
      </dict>
      <key>dieMc_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{109,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,101}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>dieMc.png</string>
      <key>size</key>
      <string>{310,304}</string>
      <key>textureFileName</key>
      <string>dieMc.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02830</real>
        <key>anchorY</key>
        <real>1.05941</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02830</real>
        <key>anchorY</key>
        <real>1.05941</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.01869</real>
        <key>anchorY</key>
        <real>1.05941</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>dieMc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,113.00,111.00</string>
        <key>anchorX</key>
        <real>0.50044</real>
        <key>anchorY</key>
        <real>0.49144</real>
        <key>children</key>
        <dict>
          <key>i955</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,111.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i985</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,111.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i983</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,111.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>