<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>playSceneMc_000000</key>
      <dict>
        <key>frame</key>
        <string>{{811,1299},{329,350}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{327,348}</string>
      </dict>
      <key>playSceneMc_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,802}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,800}</string>
      </dict>
      <key>playSceneMc_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{482,802}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,800}</string>
      </dict>
      <key>playSceneMc_000003</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{482,657}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,655}</string>
      </dict>
      <key>playSceneMc_000004</key>
      <dict>
        <key>frame</key>
        <string>{{964,0},{247,336}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{245,334}</string>
      </dict>
      <key>playSceneMc_000005</key>
      <dict>
        <key>frame</key>
        <string>{{924,916},{261,183}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{259,181}</string>
      </dict>
      <key>playSceneMc_000006</key>
      <dict>
        <key>frame</key>
        <string>{{482,916},{442,383}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{440,381}</string>
      </dict>
      <key>playSceneMc_000007</key>
      <dict>
        <key>frame</key>
        <string>{{482,657},{475,259}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{473,257}</string>
      </dict>
      <key>playSceneMc_000008</key>
      <dict>
        <key>frame</key>
        <string>{{482,1299},{329,256}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{327,254}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>playSceneMc.png</string>
      <key>size</key>
      <string>{1282,1702}</string>
      <key>textureFileName</key>
      <string>playSceneMc.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.14368</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.22137</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.95918</real>
        <key>anchorY</key>
        <real>1.05689</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>3.67956</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.09091</real>
        <key>anchorY</key>
        <real>2.09974</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.04669</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.46789</real>
        <key>anchorY</key>
        <real>1.77165</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>bgjing</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>playSceneMc/bgjing.jpg</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>bg1Mc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,480.00,800.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>ye1</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>ye6</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i6872</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>ye2</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>ye4</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>ye3</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>ye7</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>ye5</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>bg2Mc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,480.00,800.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>ye1</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>ye6</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>ye5</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>ye2</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>ye4</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>ye3</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>ye7</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i6906</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,800.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>playSceneMc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,487.70,1607.50</string>
        <key>anchorX</key>
        <real>0.01579</real>
        <key>anchorY</key>
        <real>0.00529</real>
        <key>children</key>
        <dict>
          <key>bg1</key>
          <dict>
            <key>class</key>
            <string>bg1Mc</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>247.70,408.50,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i6940</key>
          <dict>
            <key>class</key>
            <string>bgjing</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>7.70,808.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>bg2</key>
          <dict>
            <key>class</key>
            <string>bg2Mc</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>247.70,1207.50,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>