<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>stickAc_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{156,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{154,38}</string>
      </dict>
      <key>stickAc_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{146,29}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{144,27}</string>
      </dict>
      <key>stickAc_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,145},{137,18}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{135,16}</string>
      </dict>
      <key>stickAc_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,69},{146,29}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{144,27}</string>
      </dict>
      <key>stickAc_000004</key>
      <dict>
        <key>frame</key>
        <string>{{0,163},{137,18}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{135,16}</string>
      </dict>
      <key>stickAc_000005</key>
      <dict>
        <key>frame</key>
        <string>{{0,181},{22,12}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{20,10}</string>
      </dict>
      <key>stickAc_000006</key>
      <dict>
        <key>frame</key>
        <string>{{0,127},{137,18}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{135,16}</string>
      </dict>
      <key>stickAc_000007</key>
      <dict>
        <key>frame</key>
        <string>{{0,40},{146,29}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{144,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>stickAc.png</string>
      <key>size</key>
      <string>{256,264}</string>
      <key>textureFileName</key>
      <string>stickAc.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.40000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>stickAc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>7</integer>
        <key>rect</key>
        <string>0,0,154.00,38.00</string>
        <key>anchorX</key>
        <real>0.49968</real>
        <key>anchorY</key>
        <real>0.48026</real>
        <key>children</key>
        <dict>
          <key>k5</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>94.95,18.25,0.00,1.00000,1.00000,1.00,5,0.00,0.00||||||</string>
          </dict>
          <key>i976</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||6.00,32.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i978</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||9.50,27.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i980</key>
          <dict>
            <key>class</key>
            <string>asset13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||5.00,32.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i937</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>9.50,27.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||</string>
          </dict>
          <key>k4</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>76.95,18.25,0.00,1.00000,1.00000,1.00,4,0.00,0.00||||||</string>
          </dict>
          <key>k3</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>57.95,18.25,0.00,1.00000,1.00000,1.00,3,0.00,0.00||||||</string>
          </dict>
          <key>k6</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>114.95,18.25,0.00,1.00000,1.00000,1.00,6,0.00,0.00||||||</string>
          </dict>
          <key>i982</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||9.50,27.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>k1</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>19.95,18.25,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||||</string>
          </dict>
          <key>i972</key>
          <dict>
            <key>class</key>
            <string>asset9</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|5.00,32.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||</string>
          </dict>
          <key>k2</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>38.95,18.25,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||</string>
          </dict>
          <key>i974</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,38.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>k7</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>134.95,18.25,0.00,1.00000,1.00000,1.00,7,0.00,0.00||||||</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>