<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,33},{101,122}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{101,122}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>fint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,29}}</string>
                <key>sourceSize</key>
                <string>{240,29}</string>
            </dict>
            <key>jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{101,136}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{101,136}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>normol.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,136},{97,104}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{97,104}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>obs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,136},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>obs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,178},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIALL.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:531cdb5d5dd2281b143498eb144fa062:1/1$</string>
            <key>textureFileName</key>
            <string>UIALL.png</string>
        </dict>
    </dict>
</plist>
